<!DOCTYPE html>
<html>
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Documents</title>
	<link type="text/css" rel="stylesheet" href="css/main.css" />
</head>
<body background="18.jpg"
	style="background-position: center; background-repeat: no-repeat; background-size: cover;">
	<noscript>
		<h2>Sorry! Your browser doesn't support Javascript</h2>
	</noscript>

	<div id="username-page">
		<div class="username-page-container">
			<h1 class="title">Documents</h1>
			<ol>
				<li>file 1</li>
				<li>file 2</li>
				<li>file 3</li>
			</ol>
			<div class="form-group">
				<input type="file" class="accent username-submit" id="fileUpload" />
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="js/documents.js"></script>


	<iframe id="my_iframe" style="display:none;"></iframe>

</body>
</html>